body {
  overflow-x: hidden !important;
  background-color: #eef0fc !important;
}

.dropdownmenu {
  margin-top: 10px;
}
.menu {
  margin-top: 50% !important;
}
.maria {
  display: block;
}

.sidebar {
  transition: all 0.9s;
}

.show {
  transform: translateX(-100%);
}

.drag {
  opacity: 0;
}

.imagePreview {
  z-index: 333;
  margin-left: 10px;
}

.search-bar {
  display: block !important;
}

.menu2 {
  display: block;
}

.bg-soft-gradient {
  background: linear-gradient(
    89.84deg,
    rgba(230, 36, 174, 0.15) 0.34%,
    rgba(94, 58, 255, 0.15) 16.96%,
    rgba(10, 136, 255, 0.15) 34.66%,
    rgba(75, 191, 80, 0.15) 50.12%,
    rgba(137, 206, 0, 0.15) 66.22%,
    rgba(239, 183, 0, 0.15) 82%,
    rgba(246, 73, 0, 0.15) 99.9%
  );
}

main {
  width: 100%;
  padding: 20px;
}
.sidebar {
  transition: all 0.5s;
}

@media only screen and (max-width: 600px) {
  .thirdlayer {
    flex-direction: column;
  }
  .card {
    margin-top: 15px;
  }
  .search-bar {
    display: none !important;
  }
  .menu2,
  .upto {
    display: none !important;
  }
  .mdlist {
    display: block !important;
  }
  .maria {
    display: none;
  }
  .body {
    flex-direction: column;
  }
  .collection {
    flex-direction: column;
  }
}
